<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912700760267-03diq9eki22l8c78e9k2u2p5j2j9s6gs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912700760267-03diq9eki22l8c78e9k2u2p5j2j9s6gs</string>
	<key>API_KEY</key>
	<string>AIzaSyAFci3W7bgTMgH84kIRgdQWx7rH9ujKhQE</string>
	<key>GCM_SENDER_ID</key>
	<string>912700760267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nf2023.carai.</string>
	<key>PROJECT_ID</key>
	<string>finalcarai-4eb43</string>
	<key>STORAGE_BUCKET</key>
	<string>finalcarai-4eb43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912700760267:ios:03a23a78c1a9d5fb41fb4e</string>
</dict>
</plist>